In [ ]:
import pandas as pd
import numpy as np
from sklearn.neighbors import NearestNeighbors
from scipy.sparse import csr_matrix
from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics.pairwise import cosine_distances
from sklearn.preprocessing import LabelEncoder
from collections import OrderedDict
import os
import time

from tqdm import tqdm

In [ ]:
!wget -nc http://files.grouplens.org/datasets/movielens/ml-25m.zip
!unzip -n ml-25m.zip
# Loading datasets
movies_df = pd.read_table('ml-25m/movies.csv', sep=',')

--2023-06-09 12:46:34--  http://files.grouplens.org/datasets/movielens/ml-25m.zip
Resolving files.grouplens.org (files.grouplens.org)... 128.101.65.152
Connecting to files.grouplens.org (files.grouplens.org)|128.101.65.152|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 261978986 (250M) [application/zip]
Saving to: ‘ml-25m.zip’

ml-25m.zip          100%[===================>] 249.84M  91.1MB/s    in 2.7s

2023-06-09 12:46:39 (91.1 MB/s) - ‘ml-25m.zip’ saved [261978986/261978986]

Archive:  ml-25m.zip
   creating: ml-25m/
  inflating: ml-25m/tags.csv
  inflating: ml-25m/links.csv
  inflating: ml-25m/README.txt
  inflating: ml-25m/ratings.csv
  inflating: ml-25m/genome-tags.csv
  inflating: ml-25m/genome-scores.csv
  inflating: ml-25m/movies.csv

In [ ]:
#movies_df= pd.read_table('movies.csv', sep=',')
movies_df['movieId'] = movies_df['movieId'].astype('uint32')
users_df=pd.read_csv('users_df.csv', index_col=0)
user_movie_matrix = pd.read_csv('user_movie_matrix.csv', index_col='userId')
correlation_df=pd.read_csv('correlation_matrix.csv', index_col='userId')
correlation_df.columns = correlation_df.columns.astype(int)

#Kolaborativno filtriranje

In [ ]:
def get_most_similar_users(user_id, n, correlation_df):
    user_correlations = correlation_df[user_id].drop(user_id)
    sorted_users = user_correlations.sort_values(ascending=False)
    top_n_similar_users = sorted_users.head(n).index.tolist()
    return top_n_similar_users

def get_movie_recommendations(user_id, m, similar_users, user_movie_matrix, min_correlation=0.05):
    user_index = user_movie_matrix.index.get_loc(user_id)

    # Sum the correlations (weights) and weighted scores of similar users
    weights_sum = 0
    weighted_scores_sum = np.zeros_like(user_movie_matrix.loc[user_id])

    for similar_user in similar_users:
        similar_user_index = user_movie_matrix.index.get_loc(similar_user)
        correlation = correlation_df.at[user_id, similar_user]

        if np.isnan(correlation) or correlation < min_correlation:
            continue

        weights_sum += correlation
        weighted_scores_sum += user_movie_matrix.loc[similar_user] * correlation

    # Normalize the weighted scores by dividing by the sum of correlations
    if weights_sum != 0:
        normalized_scores = weighted_scores_sum / weights_sum
    else:
        normalized_scores = np.zeros_like(user_movie_matrix.loc[user_id])

    # Remove the movies that the user has already rated
    user_rated_movies = user_movie_matrix.loc[user_id]
    normalized_scores[user_rated_movies != 0] = 0

    # Get the top m movie recommendations
    # Get a pandas Series with the movie indices as the index
    normalized_scores_series = pd.Series(normalized_scores, index=user_movie_matrix.columns)
    # Select the top m movie recommendations by using the nlargest function on the pandas Series
    recommended_movie_ids = normalized_scores_series.nlargest(m).index
    return recommended_movie_ids.astype(int)

#Cold start

In [ ]:
country_to_region = {
    'Belarus': 'Eastern Europe',
    'Bulgaria': 'Eastern Europe',
    'Czech Republic': 'Eastern Europe',
    'Hungary': 'Eastern Europe',
    'Poland': 'Eastern Europe',
    'Moldova': 'Eastern Europe',
    'Romania': 'Eastern Europe',
    'Russia': 'Eastern Europe',
    'Slovakia': 'Eastern Europe',
    'Ukraine': 'Eastern Europe',
    'Åland Islands': 'Northern Europe',
    'Denmark': 'Northern Europe',
    'Estonia': 'Northern Europe',
    'Faroe Islands': 'Northern Europe',
    'Finland': 'Northern Europe',
    'Iceland': 'Northern Europe',
    'Ireland': 'Northern Europe',
    'Isle of Man': 'Northern Europe',
    'Latvia': 'Northern Europe',
    'Lithuania': 'Northern Europe',
    'Norway': 'Northern Europe',
    'Svalbard and Jan Mayen Islands': 'Northern Europe',
    'Sweden': 'Northern Europe',
    'United Kingdom': 'Northern Europe',
    'Albania': 'Southern Europe',
    'Andorra': 'Southern Europe',
    'Bosnia and Herzegovina': 'Southern Europe',
    'Croatia': 'Southern Europe',
    'Gibraltar': 'Southern Europe',
    'Greece': 'Southern Europe',
    'Holy See': 'Southern Europe',
    'Italy': 'Southern Europe',
    'Malta': 'Southern Europe',
    'Montenegro': 'Southern Europe',
    'North Macedonia': 'Southern Europe',
    'Portugal': 'Southern Europe',
    'San Marino': 'Southern Europe',
    'Serbia': 'Southern Europe',
    'Slovenia': 'Southern Europe',
    'Spain': 'Southern Europe',
    'Austria': 'Western Europe',
    'Belgium': 'Western Europe',
    'France': 'Western Europe',
    'Germany': 'Western Europe',
    'Liechtenstein': 'Western Europe',
    'Luxembourg': 'Western Europe',
    'Monaco': 'Western Europe',
    'Netherlands': 'Western Europe',
    'Switzerland': 'Western Europe',
    'Channel Islands': 'Northern Europe'
}

age_ranges = {
    'Teenagers (13-19)': (13, 19),
    'Young Adults (20-25)': (20, 25),
    'Adults (26-35)': (26, 35),
    'Middle-aged Adults (36-45)': (36, 45),
    'Senior Adults (46-65)': (46, 65)
}

min_age = 13
max_age = 65

def normalized_difference(a, b, min_age, max_age):
    return np.abs((a - min_age) - (b - min_age)) / (max_age - min_age)

def find_similar_users(users_df, new_user, n):
    # Get new user details
    new_sex = new_user['sex'].item()
    new_age_group = new_user['age_group'].item()
    new_age = new_user['age'].item()
    new_country = new_user['country'].item()
    new_region = new_user['region'].item()

    # Compute age distance range
    min_age = users_df['age'].min()
    max_age = users_df['age'].max()

    # Calculate age group similarity
    age_distance = normalized_difference(users_df['age'], new_age, min_age, max_age)
    age_similarity = 0.45 * (1 - age_distance)

    # Calculate overall similarity
    similarity_scores = (
        (users_df['sex'] == new_sex).astype(float) * 0.35 +
        (users_df['age_group'] == new_age_group).astype(float) * age_similarity +
        (users_df['country'] == new_country).astype(float) * 0.15 +
        (users_df['region'] == new_region).astype(float) * 0.05
    )

    # Sort users by similarity scores and get top n
    top_indices = np.argsort(similarity_scores)[::-1][:n]
    top_similarities = similarity_scores[top_indices]

    # Get top n similar users
    similar_users = users_df.loc[top_indices]

    return similar_users, top_similarities

def get_new_user(new_index):
    age_distribution = users_df['age'].value_counts(normalize=True)
    sex_distribution = users_df['sex'].value_counts(normalize=True)
    region_distribution = users_df['region'].value_counts(normalize=True)
    country_distribution = users_df['country'].value_counts(normalize=True)

    new_age = np.random.choice(age_distribution.index, p=age_distribution.values)
    new_sex = np.random.choice(sex_distribution.index, p=sex_distribution.values)
    new_country = np.random.choice(country_distribution.index, p=country_distribution.values)

    new_region = country_to_region[new_country]
    new_age_group = pd.cut([new_age], bins=[12, 19, 25, 35, 45, 65], labels=list(age_ranges))


    new_user = pd.DataFrame({
        'userId': [new_index],
        'sex': [new_sex],
        'age': [new_age],
        'country': [new_country],
        'region': [new_region]
    })

    new_user['age_group_pom'] = pd.cut(new_user['age'], bins=[13, 19, 25, 35, 45, 65], labels=list(age_ranges))
    new_user.insert(new_user.columns.get_loc('age') + 1, 'age_group', new_user['age_group_pom'])

    return new_user.drop('age_group_pom', axis=1)

def get_movie_recommendations_cold_start(m, similar_users, similarities, user_movie_matrix, min_correlation=0.35):

    weights_sum = 0
    weighted_scores_sum = np.zeros_like(user_movie_matrix.loc[similar_users[0]])

    for similar_user, similarity in zip(similar_users, similarities):
        similar_user_index = user_movie_matrix.index.get_loc(similar_user)

        if np.isnan(similarity) or similarity < min_correlation:
            continue

        weights_sum += similarity
        weighted_scores_sum += user_movie_matrix.loc[similar_user] * similarity

    # Normalize the weighted scores by dividing by the sum of correlations
    if weights_sum != 0:
        normalized_scores = weighted_scores_sum / weights_sum
    else:
        normalized_scores = np.zeros_like(user_movie_matrix.loc[similar_user[0]])


    # Get the top m movie recommendations
    # Get a pandas Series with the movie indices as the index
    normalized_scores_series = pd.Series(normalized_scores, index=user_movie_matrix.columns)
    # Select the top m movie recommendations by using the nlargest function on the pandas Series
    recommended_movie_ids = normalized_scores_series.nlargest(m).index
    return recommended_movie_ids.astype(int)

#Recomendation model

In [ ]:
def get_recommendations(user_id, num_similar_users, num_recommednations):
  if user_id in correlation_df.columns:
      similar_users = get_most_similar_users(user_id, num_similar_users, correlation_df)
      recommended_movie_ids = get_movie_recommendations(user_id, num_recommednations, similar_users, user_movie_matrix, min_correlation=0.05)
      recommended_movie_titles = movies_df[movies_df['movieId'].isin(recommended_movie_ids)]['title']

      return similar_users, list(recommended_movie_ids), list(recommended_movie_titles)

  print("This is new user")
  new_user=get_new_user(user_id)
  similar_users, top_similarities=find_similar_users(users_df, new_user, num_similar_users)
  recommended_movie_ids = get_movie_recommendations_cold_start(num_recommednations, similar_users['userId'].tolist(), top_similarities, user_movie_matrix, min_correlation=0.5)
  recommended_movie_titles = movies_df[movies_df['movieId'].isin(recommended_movie_ids)]['title']

  return list(similar_users['userId']), list(recommended_movie_ids), list(recommended_movie_titles)

In [ ]:
user_id=43
num_similar_users=100
num_recommednations=10

similar_users, recommended_movie_ids, recommended_movie_titles=get_recommendations(user_id, num_similar_users, num_recommednations)

print("Similar users to user", user_id, "are:", similar_users)
print("Recommended movies are:\n", '\n'.join(str(item) for item in recommended_movie_titles))

Similar users to user 43 are: [151802, 7795, 84579, 48605, 104182, 116572, 7782, 91977, 130718, 128736, 115103, 1488, 150064, 150948, 162202, 105409, 81986, 93841, 55002, 28650, 31739, 86075, 137951, 150219, 71410, 92379, 143298, 78620, 141065, 41049, 136273, 147196, 19744, 968, 99005, 121952, 137271, 32120, 33036, 26450, 153956, 104862, 6678, 155529, 137713, 123445, 84027, 50443, 139513, 10128, 124428, 150083, 80502, 34542, 44123, 16546, 101131, 149854, 49468, 117193, 28914, 108907, 54656, 23428, 55818, 23037, 35300, 6588, 108312, 61043, 80028, 69505, 136944, 115371, 72578, 123413, 103447, 71893, 36855, 128767, 67399, 11193, 161210, 75024, 123179, 74159, 117685, 128155, 69335, 24269, 72066, 131090, 109649, 100215, 91469, 107137, 86417, 60150, 138817, 83574]
Recommended movies are:
 Mission: Impossible (1996)
Trainspotting (1996)
Godfather, The (1972)
Apocalypse Now (1979)
Goodfellas (1990)
Godfather: Part II, The (1974)
Full Metal Jacket (1987)
Shining, The (1980)
Big Lebowski, The (1998)
American History X (1998)

In [ ]:
import random

top_n_rated_movies = 15
top_m_recommendations = 10
num_similar_users=15

# Function to get the top N rated movies for a user
def get_top_rated_movies(user_id, n, user_movie_matrix):

    similar_users = get_most_similar_users(user_id, num_similar_users, correlation_df)
    recommended_movie_ids = get_movie_recommendations(user_id, num_recommednations, similar_users, user_movie_matrix, min_correlation=0.05)
    recommended_movie_titles = movies_df[movies_df['movieId'].isin(recommended_movie_ids)]['title']

    rated_movies = user_movie_matrix.loc[user_id].sort_values(ascending=False)
    top_rated_movies = rated_movies.head(n).index
    return top_rated_movies

random_users = np.random.choice(user_movie_matrix.index, size=10, replace=False)

for user_id in random_users:
    # Get the top N rated movies for the user
    top_rated_movie_ids = get_top_rated_movies(user_id, top_n_rated_movies, user_movie_matrix)
    top_rated_movie_titles = movies_df[movies_df['movieId'].isin(top_rated_movie_ids.astype(int))]['title']
    top_rated_movie_genres = movies_df[movies_df['movieId'].isin(top_rated_movie_ids.astype(int))]['genres']

    # Get the top M recommendations for the user
    similar_users = get_most_similar_users(user_id, num_similar_users, correlation_df)
    recommended_movie_ids = get_movie_recommendations(user_id, top_m_recommendations, similar_users, user_movie_matrix, min_correlation=0.05)
    recommended_movie_titles = movies_df[movies_df['movieId'].isin(recommended_movie_ids)]['title']
    recommended_movie_genres = movies_df[movies_df['movieId'].isin(recommended_movie_ids)]['genres']

    print(f"User {user_id}:")
    print(f"Top {top_n_rated_movies} rated movies:")
    print(top_rated_movie_titles, top_rated_movie_genres)
    print("--------------------------------------------------")
    print(f"Top {top_m_recommendations} movie recommendations:")
    print(recommended_movie_titles, recommended_movie_genres)
    print("==================================================")

User 63738:
Top 15 rated movies:
289      Léon: The Professional (a.k.a. The Professiona...
292                                    Pulp Fiction (1994)
314                       Shawshank Redemption, The (1994)
522                                Schindler's List (1993)
585                       Silence of the Lambs, The (1991)
1182                                     Goodfellas (1990)
1666                              Big Lebowski, The (1998)
1939                            Saving Private Ryan (1998)
2867                                     Fight Club (1999)
3054                                Green Mile, The (1999)
3907                                         Snatch (2000)
5883                                   Pianist, The (2002)
5904                   City of God (Cidade de Deus) (2002)
19021                              Django Unchained (2012)
20651                      Wolf of Wall Street, The (2013)
Name: title, dtype: object 289                Action|Crime|Drama|Thriller
292                Comedy|Crime|Drama|Thriller
314                                Crime|Drama
522                                  Drama|War
585                      Crime|Horror|Thriller
1182                               Crime|Drama
1666                              Comedy|Crime
1939                          Action|Drama|War
2867               Action|Crime|Drama|Thriller
3054                               Crime|Drama
3907                     Comedy|Crime|Thriller
5883                                 Drama|War
5904     Action|Adventure|Crime|Drama|Thriller
19021                     Action|Drama|Western
20651                       Comedy|Crime|Drama
Name: genres, dtype: object
--------------------------------------------------
Top 10 movie recommendations:
46                             Seven (a.k.a. Se7en) (1995)
351                                    Forrest Gump (1994)
1166     Star Wars: Episode V - The Empire Strikes Back...
1168     Raiders of the Lost Ark (Indiana Jones and the...
4887     Lord of the Rings: The Fellowship of the Ring,...
11124                                 Departed, The (2006)
12221                              Dark Knight, The (2008)
13249                          Inglourious Basterds (2009)
14937                                     Inception (2010)
15238                           Social Network, The (2010)
Name: title, dtype: object 46                                      Mystery|Thriller
351                             Comedy|Drama|Romance|War
1166                             Action|Adventure|Sci-Fi
1168                                    Action|Adventure
4887                                   Adventure|Fantasy
11124                               Crime|Drama|Thriller
12221                            Action|Crime|Drama|IMAX
13249                                   Action|Drama|War
14937    Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
15238                                              Drama
Name: genres, dtype: object
==================================================
User 128063:
Top 15 rated movies:
1062                                 Reservoir Dogs (1992)
1640                              Good Will Hunting (1997)
2451              Lock, Stock & Two Smoking Barrels (1998)
3479                                      Gladiator (2000)
3907                                         Snatch (2000)
4790     Harry Potter and the Sorcerer's Stone (a.k.a. ...
4857                                 Ocean's Eleven (2001)
6751                              Kill Bill: Vol. 1 (2003)
7299                              Kill Bill: Vol. 2 (2004)
11124                                 Departed, The (2006)
12221                              Dark Knight, The (2008)
12757                           Slumdog Millionaire (2008)
19021                              Django Unchained (2012)
20651                      Wolf of Wall Street, The (2013)
27112                             The Hateful Eight (2015)
Name: title, dtype: object 1062         Crime|Mystery|Thriller
1640                  Drama|Romance
2451          Comedy|Crime|Thriller
3479         Action|Adventure|Drama
3907          Comedy|Crime|Thriller
4790     Adventure|Children|Fantasy
4857                 Crime|Thriller
6751          Action|Crime|Thriller
7299          Action|Drama|Thriller
11124          Crime|Drama|Thriller
12221       Action|Crime|Drama|IMAX
12757           Crime|Drama|Romance
19021          Action|Drama|Western
20651            Comedy|Crime|Drama
27112                       Western
Name: genres, dtype: object
--------------------------------------------------
Top 10 movie recommendations:
257              Star Wars: Episode IV - A New Hope (1977)
314                       Shawshank Redemption, The (1994)
351                                    Forrest Gump (1994)
522                                Schindler's List (1993)
4887     Lord of the Rings: The Fellowship of the Ring,...
5840         Lord of the Rings: The Two Towers, The (2002)
7028     Lord of the Rings: The Return of the King, The...
11207                                 Casino Royale (2006)
11738                         Bourne Ultimatum, The (2007)
17674                                  Intouchables (2011)
Name: title, dtype: object 257             Action|Adventure|Sci-Fi
314                         Crime|Drama
351            Comedy|Drama|Romance|War
522                           Drama|War
4887                  Adventure|Fantasy
5840                  Adventure|Fantasy
7028     Action|Adventure|Drama|Fantasy
11207         Action|Adventure|Thriller
11738             Action|Crime|Thriller
17674                      Comedy|Drama
Name: genres, dtype: object
==================================================
User 89122:
Top 15 rated movies:
5                                     Heat (1995)
93                            Broken Arrow (1996)
110    Rumble in the Bronx (Hont faan kui) (1995)
314              Shawshank Redemption, The (1994)
339             Ace Ventura: Pet Detective (1994)
344               Clear and Present Danger (1994)
348                              Crow, The (1994)
351                           Forrest Gump (1994)
363                               Maverick (1994)
372                                  Speed (1994)
470              In the Name of the Father (1993)
489                     Executive Decision (1996)
522                       Schindler's List (1993)
534                   Sleepless in Seattle (1993)
580                                Aladdin (1992)
Name: title, dtype: object 5                            Action|Crime|Thriller
93                       Action|Adventure|Thriller
110                  Action|Adventure|Comedy|Crime
314                                    Crime|Drama
339                                         Comedy
344                    Action|Crime|Drama|Thriller
348                  Action|Crime|Fantasy|Thriller
351                       Comedy|Drama|Romance|War
363                       Adventure|Comedy|Western
372                        Action|Romance|Thriller
470                                          Drama
489                      Action|Adventure|Thriller
522                                      Drama|War
534                           Comedy|Drama|Romance
580    Adventure|Animation|Children|Comedy|Musical
Name: genres, dtype: object
--------------------------------------------------
Top 10 movie recommendations:
21                       Copycat (1995)
109                  Taxi Driver (1976)
120                    Boomerang (1992)
220                       Clerks (1994)
232                      Ed Wood (1994)
328                    Tommy Boy (1995)
426                Carlito's Way (1993)
578                   Home Alone (1990)
585    Silence of the Lambs, The (1991)
637          Mission: Impossible (1996)
Name: title, dtype: object 21     Crime|Drama|Horror|Mystery|Thriller
109                   Crime|Drama|Thriller
120                         Comedy|Romance
220                                 Comedy
232                           Comedy|Drama
328                                 Comedy
426                            Crime|Drama
578                        Children|Comedy
585                  Crime|Horror|Thriller
637      Action|Adventure|Mystery|Thriller
Name: genres, dtype: object
==================================================
User 41904:
Top 15 rated movies:
1921                                     Metropolis (1927)
1943                        Barefoot Executive, The (1971)
2233            Life Is Beautiful (La Vita è bella) (1997)
2766                                American Beauty (1999)
2959                                          Dogma (1999)
3807                             Dancer in the Dark (2000)
4142                          Bridget Jones's Diary (2001)
4867     Amelie (Fabuleux destin d'Amélie Poulain, Le) ...
7246                                       Dogville (2003)
7365                            Pride and Prejudice (1940)
7860                 Now You See Him, Now You Don't (1972)
7901                                      Overboard (1987)
10401                             Pride & Prejudice (2005)
10408           Harry Potter and the Goblet of Fire (2005)
11115    Borat: Cultural Learnings of America for Make ...
Name: title, dtype: object 1921                        Drama|Sci-Fi
1943                     Children|Comedy
2233            Comedy|Drama|Romance|War
2766                       Drama|Romance
2959            Adventure|Comedy|Fantasy
3807                       Drama|Musical
4142                Comedy|Drama|Romance
4867                      Comedy|Romance
7246              Drama|Mystery|Thriller
7365                Comedy|Drama|Romance
7860                       Comedy|Sci-Fi
7901                      Comedy|Romance
10401                      Drama|Romance
10408    Adventure|Fantasy|Thriller|IMAX
11115                             Comedy
Name: genres, dtype: object
--------------------------------------------------
Top 10 movie recommendations:
49            Usual Suspects, The (1995)
108                    Braveheart (1995)
314     Shawshank Redemption, The (1994)
351                  Forrest Gump (1994)
840                Godfather, The (1972)
1190      Godfather: Part II, The (1974)
1872                     Rain Man (1988)
4889            Beautiful Mind, A (2001)
5310         Bourne Identity, The (2002)
7299            Kill Bill: Vol. 2 (2004)
Name: title, dtype: object 49        Crime|Mystery|Thriller
108             Action|Drama|War
314                  Crime|Drama
351     Comedy|Drama|Romance|War
840                  Crime|Drama
1190                 Crime|Drama
1872                       Drama
4889               Drama|Romance
5310     Action|Mystery|Thriller
7299       Action|Drama|Thriller
Name: genres, dtype: object
==================================================
User 116559:
Top 15 rated movies:
139                            Birdcage, The (1996)
346                         Corrina, Corrina (1994)
932                    It's a Wonderful Life (1946)
1238                    Fried Green Tomatoes (1991)
1249                                Fantasia (1940)
1252                                Heathers (1989)
1257                  Some Kind of Wonderful (1987)
1829                         Lethal Weapon 4 (1998)
2049                     Secret of NIMH, The (1982)
2608    South Park: Bigger, Longer and Uncut (1999)
2816                          Boys Don't Cry (1999)
2826                Ferris Bueller's Day Off (1986)
3241                               Key Largo (1948)
3492                                 Mr. Mom (1983)
3598                                 Starman (1984)
Name: title, dtype: object 139                                 Comedy
346                   Comedy|Drama|Romance
932         Children|Drama|Fantasy|Romance
1238                    Comedy|Crime|Drama
1249    Animation|Children|Fantasy|Musical
1252                                Comedy
1257                         Drama|Romance
1829          Action|Comedy|Crime|Thriller
2049    Adventure|Animation|Children|Drama
2608              Animation|Comedy|Musical
2816                                 Drama
2826                                Comedy
3241        Crime|Drama|Film-Noir|Thriller
3492                          Comedy|Drama
3598        Adventure|Drama|Romance|Sci-Fi
Name: genres, dtype: object
--------------------------------------------------
Top 10 movie recommendations:
536                        Blade Runner (1982)
1052               Fish Called Wanda, A (1988)
1108    Monty Python and the Holy Grail (1975)
1164    One Flew Over the Cuckoo's Nest (1975)
1170                             Aliens (1986)
1225                       Shining, The (1980)
1242                         Highlander (1986)
1523          Men in Black (a.k.a. MIB) (1997)
2060            Gods Must Be Crazy, The (1980)
2315                Romancing the Stone (1984)
Name: title, dtype: object 536              Action|Sci-Fi|Thriller
1052                       Comedy|Crime
1108           Adventure|Comedy|Fantasy
1164                              Drama
1170     Action|Adventure|Horror|Sci-Fi
1225                             Horror
1242           Action|Adventure|Fantasy
1523               Action|Comedy|Sci-Fi
2060                   Adventure|Comedy
2315    Action|Adventure|Comedy|Romance
Name: genres, dtype: object
==================================================
User 3877:
Top 15 rated movies:
31      Twelve Monkeys (a.k.a. 12 Monkeys) (1995)
103         Bridges of Madison County, The (1995)
108                             Braveheart (1995)
263                    Legends of the Fall (1994)
348                              Crow, The (1994)
789                        Time to Kill, A (1996)
840                         Godfather, The (1972)
1225                          Shining, The (1980)
1226                           Stand by Me (1986)
1252                              Heathers (1989)
1442                                Selena (1997)
1879                   Breakfast Club, The (1985)
2223                               Beloved (1998)
2647                     Color Purple, The (1985)
3059                Last Picture Show, The (1971)
Name: title, dtype: object 31            Mystery|Sci-Fi|Thriller
103                     Drama|Romance
108                  Action|Drama|War
263         Drama|Romance|War|Western
348     Action|Crime|Fantasy|Thriller
789                    Drama|Thriller
840                       Crime|Drama
1225                           Horror
1226                  Adventure|Drama
1252                           Comedy
1442                    Drama|Musical
1879                     Comedy|Drama
2223                            Drama
2647                            Drama
3059                            Drama
Name: genres, dtype: object
--------------------------------------------------
Top 10 movie recommendations:
49           Usual Suspects, The (1995)
148                    Apollo 13 (1995)
159                 Crimson Tide (1995)
292                 Pulp Fiction (1994)
344     Clear and Present Danger (1994)
351                 Forrest Gump (1994)
452                Fugitive, The (1993)
582           Dances with Wolves (1990)
584                       Batman (1989)
585    Silence of the Lambs, The (1991)
Name: title, dtype: object 49          Crime|Mystery|Thriller
148           Adventure|Drama|IMAX
159             Drama|Thriller|War
292    Comedy|Crime|Drama|Thriller
344    Action|Crime|Drama|Thriller
351       Comedy|Drama|Romance|War
452                       Thriller
582        Adventure|Drama|Western
584          Action|Crime|Thriller
585          Crime|Horror|Thriller
Name: genres, dtype: object
==================================================
User 94107:
Top 15 rated movies:
33                                Babe (1995)
249                               I.Q. (1994)
259                 Little Princess, A (1995)
296                          Quiz Show (1994)
314          Shawshank Redemption, The (1994)
351                       Forrest Gump (1994)
352        Four Weddings and a Funeral (1994)
359                     Lion King, The (1994)
372                              Speed (1994)
407              Age of Innocence, The (1993)
466               Hudsucker Proxy, The (1994)
519                               Rudy (1993)
533          Six Degrees of Separation (1993)
586    Snow White and the Seven Dwarfs (1937)
587               Beauty and the Beast (1991)
Name: title, dtype: object 33                                      Children|Drama
249                                     Comedy|Romance
259                                     Children|Drama
296                                              Drama
314                                        Crime|Drama
351                           Comedy|Drama|Romance|War
352                                     Comedy|Romance
359    Adventure|Animation|Children|Drama|Musical|IMAX
372                            Action|Romance|Thriller
407                                              Drama
466                                             Comedy
519                                              Drama
533                                              Drama
586           Animation|Children|Drama|Fantasy|Musical
587    Animation|Children|Fantasy|Musical|Romance|IMAX
Name: genres, dtype: object
--------------------------------------------------
Top 10 movie recommendations:
151                Batman Forever (1995)
159                  Crimson Tide (1995)
288                      Outbreak (1995)
292                  Pulp Fiction (1994)
324        Star Trek: Generations (1994)
375                     True Lies (1994)
452                 Fugitive, The (1993)
581    Terminator 2: Judgment Day (1991)
582            Dances with Wolves (1990)
585     Silence of the Lambs, The (1991)
Name: title, dtype: object 151               Action|Adventure|Comedy|Crime
159                          Drama|Thriller|War
288                Action|Drama|Sci-Fi|Thriller
292                 Comedy|Crime|Drama|Thriller
324                      Adventure|Drama|Sci-Fi
375    Action|Adventure|Comedy|Romance|Thriller
452                                    Thriller
581                               Action|Sci-Fi
582                     Adventure|Drama|Western
585                       Crime|Horror|Thriller
Name: genres, dtype: object
==================================================
User 126572:
Top 15 rated movies:
102                            Happy Gilmore (1996)
163               Die Hard: With a Vengeance (1995)
292                             Pulp Fiction (1994)
375                                True Lies (1994)
581               Terminator 2: Judgment Day (1991)
585                Silence of the Lambs, The (1991)
1207                         Terminator, The (1984)
1523               Men in Black (a.k.a. MIB) (1997)
2025    Indiana Jones and the Temple of Doom (1984)
2608    South Park: Bigger, Longer and Uncut (1999)
3429                                Predator (1987)
3518                               Road Trip (2000)
4239                               Swordfish (2001)
7129                    The Butterfly Effect (2004)
8155                          Forgotten, The (2004)
Name: title, dtype: object 102                                       Comedy
163                        Action|Crime|Thriller
292                  Comedy|Crime|Drama|Thriller
375     Action|Adventure|Comedy|Romance|Thriller
581                                Action|Sci-Fi
585                        Crime|Horror|Thriller
1207                      Action|Sci-Fi|Thriller
1523                        Action|Comedy|Sci-Fi
2025                    Action|Adventure|Fantasy
2608                    Animation|Comedy|Musical
3429                      Action|Sci-Fi|Thriller
3518                                      Comedy
4239                          Action|Crime|Drama
7129                       Drama|Sci-Fi|Thriller